<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jnote.dao.RoleMapper">
  <insert id="addRoles">
    INSERT INTO jnote_role VALUES
    <foreach collection="roles" item="role" separator=",">
      (null,#{role},#{member_id})
    </foreach>
  </insert>
  <select id="getRolesByMemberid" parameterType="long" resultType="com.jnote.model.Role">
        SELECT r.* FROM jnote_role r,jnote_role_member rm WHERE r.`id`=rm.`rule_id` AND rm.`member_id`=#{member_id}
    </select>
</mapper>